@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Novi Kunstuitleen</h1>
    <p>De web app waar Novimedewerkers en Novistudenten hun kunstuitspattingen aan elkaar kunnen uitlenen. 
    Het hebben van een Novi kunstwerk aan de muur draagt bij aan een positieve studie ervaring. </p>
    <p>Log in met uw Novi-account om kunst te lenen of uit te lenen. </p>
</div>
