@{
    ViewData["Title"] = "Privacy Beleid";
}
<h1>@ViewData["Title"]</h1>
<h2>
    Novi Verhuur vindt het erg belangrijk dat er met de grootst mogelijke zorgvuldigheid met jouw persoonlijke gegevens wordt omgegaan. In dit privacy beleid legt Novi uit waarom en op welke manier jouw persoonsgegevens worden verwerkt. Je persoonsgegevens worden nooit verkocht aan derden!
    ________________________________________
</h2>
<p>
    <b>Wie is Novi?</b>
    Novi Kunstverhuur is een bedrijf dat kunst en andere artistieke voorzieningen verhuurt voor locaties waar tijdelijk geen kunstvoorziening aanwezig is.
</p>
<p>
    <b>Wie is er verantwoordelijk voor de verwerking van persoonsgegevens?</b>
    Deze privacy verklaring is van toepassing op de verwerking van persoonsgegevens door Novi Verhuur en haar werknemers. De verantwoordelijke voor de verwerking van persoonsgegevens is Novi.
</p>
<p>
    <b>Welke persoonsgegevens worden er verwerkt en opgeslagen?</b>
    Novi bewaart de persoonsgegevens die je hebt verstrekt via online kanalen, telefoon of bij een bezoek aan de website. Je kan hierbij denken aan:
    <ul>
        <li>Huren of leveren van producten; bijvoorbeeld NAW-gegevens, e-mailadres en financiële gegevens.</li>
        <li>Aanvragen van offerte; bijvoorbeeld NAW-gegevens en e-mailadres.</li>
        <li>Gebruik van website en app: bijvoorbeeld bezochte pagina’s, via welke pagina je op onze website komt.</li>
    </ul>
    Novi streeft ernaar om alleen persoonsgegevens te vragen die nodig zijn voor het verwezenlijken van onze doelen. Deze gegevens worden via het emailsysteem verwerkt en bewaard in de verhuursoftware.

</p>

<p>
    <b>Waarvoor worden je persoonsgegevens gebruikt?</b>
    Novi gebruikt je persoonlijke gegevens voor de volgende acties:
    <ul>
        <li>Het verwerken van aanvragen en orders.</li>
        <li>Contact opnemen in geval van vragen of problemen.</li>
        <li>Het informeren over nieuwe of gewijzigde diensten.</li>
        <li>Het verbeteren van onze producten en dienstverlening.</li>
        <li>Het voorkomen van misbruik en oneigenlijk gebruik van de aangeboden diensten.</li>
        <li>Voor het gebruik van persoonsgegevens voor marketingdoeleinden zal toestemming worden gevraagd.</li>
        <li>Wettelijke verplichtingen. Denk hierbij aan het voeren van een gedegen boekhouding.</li>
        <li>Het analyseren van algemeen klantprofiel.</li>
    </ul>
    Voor reclamedoeleinden worden geen persoonsgegevens gebruikt. Wel worden voor reclamecampagnes ‘aangepaste doelgroepen’ aangemaakt op basis van een klantprofiel. Hierbij wordt onderscheid gemaakt in bijvoorbeeld werkzame sector, woonplaats en andere algemene kenmerken die voor Novi doel verhogend zijn. Er wordt geen onderscheid gemaakt op persoonlijke kenmerken zoals ras, seksualiteit, etc. met uitzondering op geslacht. Deze gegevens worden verwerkt om je te kunnen aanspreken met mevrouw of meneer.

</p>
<p>
    <b>Derde ontvangers.</b>
    Voor enkele aspecten van onze bedrijfsvoering schakelt Novi externe dienstverleners in. Dit zijn geen derde ontvangers maar verwerkers. Je gegevens worden nooit aan derden verkocht!
    We werken bijvoorbeeld samen met bedrijven voor ICT en beveiliging, boekhoudsoftware, verhuursoftware, collega-verhuurders, Google Analytics en Outlook. Deze partijen verwerken persoonsgegevens in overeenstemming met opdracht van Novi. Soms is Novi wettelijk verplicht om persoonsgegevens aan derden te verstrekken, zoals de Belastingdienst.
    Op de website van Novi Verhuur vind je enkele links naar andere websites. Novi draagt geen verantwoordelijkheid of aansprakelijkheid voor de manier waarop deze websites met persoonlijke gegevens omgaan. Novi adviseert je om op elke website jezelf op de hoogte te stellen van het privacy beleid dat wordt gevoerd.

</p>

<p>
    <b>Hoe worden je persoonlijke gegevens beveiligd?</b>
    Novi hanteert verschillende maatregelen om je persoonlijke gegevens te beschermen. Hierbij kan je denken aan het versleutelen van gevoelige informatie, hanteren van toegangscontroles en autorisaties voor beperkte groepen medewerkers. Deze bescherming wordt regelmatig aangepast en verbeterd.

</p>

<p>
    <b>Hoe lang worden je gegevens bewaard?</b>    
    Novi bewaart je persoonsgegevens niet langer dan voor de verwerking van de doeleinden waarvoor zij verzameld zijn noodzakelijk is voor bedrijfsvoering of zolang als bij wet verplicht is.

</p>
<p>
    <b>Wat zijn je rechten?</b>
    Natuurlijk mag je zelf beslissen over wat er met je persoonsgegevens gebeurt. Novi doet haar uiterste best om aan je verzoek te voldoen.

    <ul>
        <li>Informatie en inzage; welke persoonsgegevens van jou zijn bij Novi bekend.</li>
        <li>
            Wijzigen gegevens; mochten je gegevens onjuist zijn, vraag dan om deze aan te passen.
        </li>
        <li>
            Vergetelheid; Je kan vragen of Novi je persoonsgegevens kan verwijderen. Hier voldoet Novi aan mits er geen wettelijke of financiële gronden zijn om deze gegevens te behouden.
        </li>
        <li>
            Bezwaar; denk je dat Novi jouw persoonsgegevens onjuist of onrechtmatig verwerkt, dan kun je bezwaar indienen door contact met Novi op te nemen.
        </li>
    </ul>
    
  
    <b>Website’s van Novi.</b>
    De websites van Novi zijn beveiligd via een http: verbinding. Dit kan je zien in de adresbalk aan de linkerkant.

</p>

<p>
    <b>Het gebruik van cookies.</b>
    De website van Novi maakt gebruik van cookies. Dit zijn kleine bestanden die door je browser worden opgeslagen. Dit doen wij om onze dienstverlening te verbeteren en de website optimaal te laten functioneren. Cookies kun je zelf verwijderen, raadpleeg voor verwijdering hiervan de handleiding van je browser.

</p>
<p>
    <b>Wijzigingen in het privacy beleid.</b>
    Het privacy beleid van Novi kan worden gewijzigd. Via de website van Novi is het actuele privacy beleid te lezen.

</p>

<p>
    <b>Vragen, opmerkingen of tips?</b>
    Misschien heb je nog een vraag over dit privacy beleid of wellicht heb je een verbeterpunt? Laat dit weten en er wordt contact met je opgenomen.


</p>

