@model ArtListViewModel

<div style="padding: 20px">
    <a type="button" class="btn btn-outline-primary" asp-area="" asp-controller="Art" asp-action="NewArt">Kunst toevoegen</a>
</div>

@foreach (var item in Model.AllArt)
{
    @if (item.Available)
    {
        <partial name="_ArtCard" model="item" />
    }
}
