@model NewArtViewModel

@{
    ViewData["Title"] = "New";
}

<form asp-action="NewArt" enctype="multipart/form-data" method="post" class=" form-horizontal" role="form">
    <h1>Kunst toevoegen</h1>

    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="Name" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Artist" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="Artist" class="form-control" />
            <span asp-validation-for="Artist" class="text-danger"></span>
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="ImageURL" class="control-label"></label>
            <div class="custom-file">
                <input asp-for="ImageURL" class="custom-file-input" id="customFile">
                <label class="custom-file-label" for="customFile">Choose file</label>
            </div>
            <span asp-validation-for="ImageURL" class="text-danger"></span>
        </div>
    </div>

    @*<div class="form-group">
            <label asp-for="c" class="col-md-2 control-label"></label>
            <div class="col-md-5">
                <input asp-for="ImageURL" class="form-control" />
                <span asp-validation-for="ImageURL" class="text-danger"></span>
            </div>
        </div>*@

    <div class="form-group">
        <label asp-for="Description" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
    </div>

    <label asp-for="PricePerMonth" class="col-md-2 control-label"></label>
    <div class="col-md-5">
        <input asp-for="PricePerMonth" class="form-control" />
        <span asp-validation-for="PricePerMonth" class="text-danger"></span>
    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-5">
            <input type="submit" class="btn btn-primary" value="Kunstwerk toevoegen" />
        </div>
    </div>

</form>



@section scripts{
    <script type="text/javascript">

        // Add the following code if you want the name of the file appear on select
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>
}
